{%- if cookiecutter.add_celery == "yes" -%}
argh
celery
{% endif -%}
connexion[swagger-ui]
flask
flask-migrate
flask-sqlalchemy
gunicorn
mysqlclient
pytest
sentry-sdk[flask]
{%- if cookiecutter.add_celery == "yes" %}
watchdog
{% endif -%}
